<%= link_to flea_market_path(flea_market) do %>
  <div class="flea_market radius shadowDepth1">

    <div class="img flea_market__image border-tlr-radius">
      <% i = rand(100) % 2 %>
      <%= image_tag "http://img.tenasia.hankyung.com/webwp_kr/wp-content/uploads/2014/05/2014051515474617545.jpg", alt: "test", class: "border-tlr-radius" if i == 0 %>
      <%= image_tag "http://img.yaplog.jp/img/17/pc/y/a/m/yamu98/26/26332.jpg", alt: "Test", class: "border-tlr-radius" if  i == 1 %> 
    </div>

    <div class="flea_market__content flea_market__padding">

      <div class="flea_market__share">
        <div class="flea_market__social">
          <!--
          <%= social_share_button_tag(popup: true, rel: "facebook", class: "shared-icon facebook") do  %>
            <span class="fa fa-facebook"></span>
          <% end %>
          -->
          <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
          <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
          <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
        </div>

        <a id="share" class="share-toggle share-icon" href="#"></a>
      </div>

      <div class="flea_market__meta">
        <a href="#">Web Design</a>
        <time><%=  flea_market.created_at.strftime("%F %H:%M") %> <!--17th March --></time> 
      </div>



      <div class="market_name"> 
        <%= flea_market.market_name %>
        <% if flea_market.have_location? %>
          <span class="label label-primary">지도있음</span>
        <% end %>
      </div>
      <div class="market_daterange"> <%= flea_market.start_date.strftime("%F %H:%M") %> ~ <%= flea_market.end_date.strftime("%F %H:%M ") %> </div>
      <div class="market_location"> <%= flea_market.location %> </div>
      <div class="market_memo"><%= flea_market.memo %></div>
      <div class="market_map none"><%= flea_market.latitude %> , <%= flea_market.longitude %> </div>
    </div>
    <div class="flea_market__action">
      <div class="flea_market__author">
        <img alt="user" src="http://lorempixel.com/40/40/sports/">
        <div class="flea_market__author-content">
          By <a href="#">Someone</a>
        </div>
      </div>
    </div>

  </div>
<% end %>
