<div class="flea_market radius shadowDepth1">

  <%= link_to flea_market_path(flea_market) do %>
    <div class="img flea_market__image border-tlr-radius">
      <%= image_tag flea_market.top_image.image_url, alt: "test", class: "border-tlr-radius" if flea_market.top_image.present? %>
      <% i = rand(100) % 2 %>
      <%= image_tag "http://img.tenasia.hankyung.com/webwp_kr/wp-content/uploads/2014/05/2014051515474617545.jpg", alt: "test", class: "border-tlr-radius" if i == 0 && flea_market.top_image.blank? %>
      <%= image_tag "http://img.yaplog.jp/img/17/pc/y/a/m/yamu98/26/26332.jpg", alt: "Test", class: "border-tlr-radius" if  i == 1 && flea_market.top_image.blank? %> 
    </div>
  <% end %>

  <div class="flea_market__content flea_market__padding">

    <!--
    <div class="flea_market__share">
      <div class="flea_market__social">
        <a class="share-icon facebook" href="<%= "https://www.facebook.com/sharer/sharer.php?u=#{flea_market_url(flea_market)}&display=popup&ref=plugin&src=like&app_id=1705707066372193" %>" target="_popup"><span class="fa fa-facebook"></span></a>
        <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
        <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
      </div>

      <a id="share" class="share-toggle share-icon" href="#"></a>
    </div>
    -->

    <div class="flea_market__meta">
      <a href="#">Web Design</a>
      <time><%=  flea_market.created_at.strftime("%F %H:%M") %></time> 
    </div>



    <div class="market_name"> 
      <%= link_to flea_market.market_name, flea_market_path(flea_market) %>
      <% if flea_market.have_location? %>
        <span class="label label-primary">지도있음</span>
      <% end %>
    </div>
    <div class="market_daterange"> <%= flea_market.start_date.strftime("%F %H:%M") %> ~ <%= flea_market.end_date.strftime("%F %H:%M ") %> </div>
    <div class="market_location"> <%= flea_market.location %> </div>
    <div class="market_memo"><%= flea_market.memo %></div>
    <div class="market_map none"><%= flea_market.latitude %> , <%= flea_market.longitude %> </div>
  </div>
  <div class="flea_market__action">
    <div class="flea_market__author">
      <%= image_tag "compass.png", alt: "user_img" %>
      <div class="flea_market__author-content">
        By <a href="#">Someone</a>
      </div>
    </div>
    <div class="flea_market__tag">
      <% flea_market.fleamarket_tags.first(3).each do |tag| %>
        <div class="label label-primary"><%= tag.tag_name %> </div>
      <% end %>
    </div>
  </div>

</div>
