
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js" ></script>

<%= stylesheet_link_tag "bootstrap-datetimepicker" %>
<%= javascript_include_tag "moment" %>
<%= javascript_include_tag "bootstrap-datetimepicker" %>

<div class="make-flea-market col-sm-12">
  <%= form_for @flea_market, class: "form-horizontal"  do |f| %>

    <div class="form-group row">
      <%= f.label :market_name, "마켓명", class: "col-sm-2 form-control-label" %>
      <div class="controls col-sm-8">
        <%= f.text_field :market_name, class: "form-control"%>
      </div>
    </div>


    <div class="form-group row">
      <%= f.label :start_date, "날짜", class: "col-sm-2 form-control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :start_date, class: "col-sm-2 form-control inlines" %>
        <%= f.text_field :end_date, class: "col-sm-2 form-control inlines" %>
      </div>
    </div>


    <div class="form-group row">
      <%= f.label :location, "장소", class: "col-sm-2 form-control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :location, class: "col-sm-2 form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :memo, "기타사항",  class: "col-sm-2 form-control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :memo, class: "col-sm-2 form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">본문</label>
      <div class="controls col-sm-11">
        <%= f.text_area :top_text, class: "form-control", as: :summernote, data: {provider: "summernote" }  %>
      </div>
    </div>


    <div class="form-group">
      <div class="controls col-sm-11">
        등록 요청 이후 검수 후 노출 예정입니다.
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "등록요청" , class: "btn btn-primary" %>
      </div>
    </div>

    <div class="form-group row none">
      <%= label_tag :captcha,  "", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6LcSag8TAAAAALi8XiEEVpmYbbWK0CecQZPDy7m9"></div>
      </div>
    </div>



  <% end %>
</div>
