<% if @flea_markets.length > 0 %> 
  <span> <% FleaMarket.searchable.count %></span>

<% else %>
  <span> <%= "No Data On Today" %></span>
<% end %>

<%= stylesheet_link_tag "material-cards" %>
<%= javascript_include_tag "jquery.material-cards", 'data-turbolinks-track' => true %>

<%= javascript_include_tag "moment", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "bootstrap-datetimepicker", 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag "bootstrap-datetimepicker" %>

<div id="search-bar">
  <%= form_tag flea_markets_path, method: :get  do |f|  %>
    <div class="col-xs-12 col-md-6 form-group">

      <%= select_tag :city, options_from_collection_for_select(City.all, :id, :name, params[:city].to_i ), prompt: "지역",  class: "form-control" %>
      <i class="bar"></i>

    </div>
    <div class="col-xs-12 col-md-6">
      <%= text_field_tag :date, params[:date],  class: "form-control find-date", placeholder: "날짜" %>
      <i class="bar find-date-bar"></i>
      <span class="btn btn-primary find-btn">마켓 찾기</span>
    </div>
  <% end %>

</div>

<div id="fleamarket_list" class="row active-with-click">
  <%= render @flea_markets %>
  <%= paginate @flea_markets %>
</div>

<div class="chat-room ">
  <%= image_tag "comment_icon.png", size: "40x40", class: "img-circle" %>
</div>
<!--
<div class="flea_market radius shadowDepth1 none">
  <div class="flea_market__image border-tlr-radius">
    <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
  </div>

  <div class="flea_market__content flea_market__padding">
    <div class="flea_market__share">
      <div class="flea_market__social">
        <a class="share-icon facebook" href=""><span class="fa fa-facebook"></span></a>
        <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
        <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
      </div>

      <a id="share" class="share-toggle share-icon" href="#"></a>
    </div>

    <div class="flea_market__meta">
      <a href="#">Web Design</a>
      <time>17th March</time>
    </div>

    <article class="flea_market__article">
      <h2><a href="#">Material Design flea_market - For Blog Post Article</a></h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
    </article>
  </div>

  <div class="flea_market__action">
    
    <div class="flea_market__author">
      <img src="http://lorempixel.com/40/40/sports/" alt="user">
      <div class="flea_market__author-content">
        By <a href="#">John Doe</a>
      </div>
    </div>
  </div>
</div>

-->


<script>
    $(function() {
        $('.material-card > .mc-btn-action').click(function () {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            icon.addClass('fa-spin-fast');
            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');
                window.setTimeout(function() {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');
                }, 800);
            } else {
                card.addClass('mc-active');
                window.setTimeout(function() {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');
                }, 800);
            }
        });
    });
</script>
