<div class="main-img">
    <%= image_tag "http://talkimg.imbc.com/TVianUpload//tvian/image/2015/10/10/IhjX4gdqTjQq635800827987838901.jpg", alt: "Test" if @flea_market.top_image.blank? %> 
    <%= image_tag @flea_market.top_image_url, alt: "Test", class: "fleamarket-top-img"  if @flea_market.top_image.present? %>
    <div class="end-overlay <%= "none" if @flea_market.is_visible? %>"><%= image_tag "end_up.png", class: "end-img" %> </div>
</div>

<div class="market_name"> <%= @flea_market.market_name %> </div>
<div class="market_desc">
  <div class="market_location"> <%= @flea_market.location %> </div>
  <% if @flea_market.memo.present? && @flea_market.location.present? %>
  /
  <% end %>
  <div class="market_memo"><%= @flea_market.memo %></div>
</div>

<div class="spread_notice"> 마켓에 대한 정보는 spreadherenow@gmail.com 으로 많이 알려주세요</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- spreadHere Main -->
<ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-9646834340680693"
       data-ad-slot="7863576658"
       data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>



<div class="market_sharing">
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
</div>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#flea-info" aria-controls="flea-info" role="tab" data-toggle="tab">MainInfo</a></li>
  <li class="map-tab" role="presentation"><a href="#location" aria-controls="location" role="tab" data-toggle="tab" data-lat="<%= @flea_market.latitude %>" data-lon="<%= @flea_market.longitude %>">LocationInfo</a></li>
  <li role="presentation" class="sns-comment"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="flea-info">
    <div class="flea_market_tag">
      <% @flea_market.fleamarket_tags.each do |tag| %>
        <div class="label label-primary"><%= tag.tag_name %> </div>
      <% end %>
    </div>

    <div class="flea-info-detail">
      <div class="market_name"> <%= @flea_market.market_name %> </div>
      <div class="market_daterange"> <%= @flea_market.start_date.strftime("%F %H:%M") %> ~ <%= @flea_market.end_date.strftime("%F %H:%M ") %> </div>
      <div class="market_memo"><%= @flea_market.memo %></div>
    </div>
    <div class="flea-info-img">
      <% if @flea_market.content_images.present? %>
        <% @flea_market.content_images.each do |img| %>
          <div class="img">
            <%= image_tag img.image_url, alt: "Test", class: "img" if img.image.present? %>
          </div>
        <% end %>
      <% else %>
        <div class="img">
          <%= image_tag "http://talkimg.imbc.com/TVianUpload//tvian/image/2015/10/10/IhjX4gdqTjQq635800827987838901.jpg", alt: "Test", class: "img" %> 
        </div>
      <% end %>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="location">
    
        <div class="location-group ">
          <div class="location-map col-sm-11">
           <% if @flea_market.have_location? %>

        <%#= render "google_map" %>

        <%= render "daum_map" %>

      <% else %>

            <%= image_tag "no_location_info.png", alt: "NoLocation", class: "img"  %>

      <% end %>
          </div>
          <div class="location-info col-sm-11">
            <div class="market_location none"><%= @flea_market.location %> <%= @flea_market.latitude %>, <%= @flea_market.longitude %></div>
          </div>
        </div>


  </div>

  <div role="tabpanel" class="tab-pane" id="comments">
    COMMENTS

    <div id="disqus_thread"></div>
    <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
      */

      var disqus_config = function () {
      this.page.url = "http://spreadhere.com";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "SPREAD_HERE"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() {  // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//ggomagundan.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </div>
</div>

<% if false &&  @recommend.present? %>
  <div id="recommend">
    <div id="recommend-title">Recommed</div>
    <% @recommend.each do |rec| %>
      <div class="col-md-4 col-sm-6 col-xs-12 recommend-market">
        <%=  rec.market_name %>
      </div>
    <% end %>
  </div>
<% end %>



