<%= nested_form_for [:admin, @flea_market], :html => { :class => "form-horizontal" } do |f| %>

  <div class="form-group">
    <label class="control-label col-sm-2"><%= t("admin.common.is_visible") %></label>
    <div class="controls col-sm-6">
      <label class="radio">
        <%= f.radio_button :is_visible, 0 %>
        <%= f.label :is_visible, t("admin.common.invisible"), value: 0 %>
      </label>
      <label class="radio">
        <%= f.radio_button :is_visible, 1 %>
        <%= f.label :is_visible, t("admin.common.visible"), value: 1 %>
      </label>
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2">이벤트명</label>
    <div class="controls col-sm-6">
      <%= f.text_field :market_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">DateRange</label>
    <div class="controls col-sm-6">
      <%= f.text_field :start_date, :class => "calendar col-sm-4 form-control", data: {:"date-format" => "YYYY-MM-DD HH:mm:ss"} %>

      <%= f.text_field :end_date, :class => "calendar col-sm-4 form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Location</label>
    <div class="controls col-sm-6">
      <%= f.text_field :location, class: "form-control" %>
      <%= content_tag :span, "Search", class: "btn btn-primary find-location" %>
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2">Memo</label>
    <div class="controls col-sm-6">
      <%= f.text_field :memo, class: "form-control" %>
    </div>
  </div>


  <div class="form-group latlon-lists">
    <label class="control-label col-sm-2"></label>
    <div class="controls col-sm-6">
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2">LatLon</label>
    <div class="controls col-sm-6">
      <%= f.text_field :latitude, class: "form-control" %>
      <%= f.text_field :longitude, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">ListImage</label>
    <div class="controls col-sm-6">
      <%= f.file_field :list_image, class: "form-control" %>
      <%= image_tag f.object.list_image.url if f.object.list_image.present? %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">TopImage</label>
    <div class="controls col-sm-6">
      <%= f.file_field :top_image, class: "form-control" %>
      <%= image_tag f.object.top_image.url if f.object.top_image.present? %>
    </div>
  </div>


  <%= f.fields_for :fleamarket_images do |flea_img_form| %>
    <div class="well">
      <div class="form-group">
        <label class="control-label col-sm-2">이미지</label>
          <div class="controls col-sm-6">
          <label><%= flea_img_form.file_field :image %></label>
          <%= image_tag flea_img_form.object.image.url if flea_img_form.object.image.present? %>
        </div>
      </div>
      <%= flea_img_form.hidden_field :sort%>
      <%= flea_img_form.link_to_remove "삭제", data: {confirm: "정말 삭제 하시겠습니까?"}, :class => "btn btn-danger" %>
    </div>
  <% end %>

  <p><%= f.link_to_add "정보 추가", :fleamarket_images %></p>

  <%= f.fields_for :fleamarket_tags do |flea_tag_form| %>
    <div class="well">
      <div class="form-group">
        <label class="control-label col-sm-2">태그명</label>
          <div class="controls col-sm-6">
          <%= flea_tag_form.text_field :tag_name, class: "form-control" %>
        </div>
      </div>
      <%= flea_tag_form.link_to_remove "삭제", data: {confirm: "정말 삭제 하시겠습니까?"}, :class => "btn btn-danger" %>
    </div>
  <% end %>

  <p><%= f.link_to_add "태그 추가", :fleamarket_tags %></p>



  <div class="form-actions">
    <%= f.submit (@flea_market.new_record?? t("admin.buttons.create") : t("admin.buttons.modify") ), :class => "btn btn-success" %>
  </div>


<% end %>
