<span class="eee btn btn-primary">Redo</span>
<div class=""><%= Parsing.where(is_complete: 0).count %> Counts</div>
<table class="table table-hover parsing-table">
  <tr>
    <th>image</th>
    <th>tag</th>
    <th>content</th>
    <th>link</th>
    <th>user_link</th>
    <th></th>
  </tr>
  <% for parsing in @parsings %>
    <tr>
      <td class="zoomin"><%= image_tag parsing.image_url, size: "100x100" %></td>
      <td><%= parsing.tags.to_s.truncate(50) %></td>
      <td><%= parsing.content.to_s.truncate(100) %></td>
      <td><%= parsing.link %></td>
      <td><%= link_to parsing.user_name, "https://websta.me/n/#{parsing.user_name}", target: "_blank", class: "user-link" %></td>
      <td>
        <% if parsing.is_complete == 0 %>
          <%= link_to "GoLive", move_admin_parsing_path(parsing), class: "btn btn-primary" %>
        <% elsif parsing.is_complete == 1 %>
          <%= link_to "Del", "#", class: "btn btn-danger" %>
        <% else %>
          <%= link_to "NowLive", "#", class: "btn btn-warning" %>
        <% end %>
      </td>
      <td><%= link_to "Edit", edit_admin_parsing_path(parsing), class: "btn btn-warning" %>
      <%= link_to "Destroy", admin_parsing_path(parsing, page: params[:page]), :method => :delete, class: "btn btn-danger delete_post" %></td>
    </tr>
  <% end %>
</table>
<%= paginate @parsings %>

