<div id="header" class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <div class="container">
    <%= link_to "SPREAD HERE", root_path, class: "navbar-brand" %>

    <ul class="nav navbar-nav pull-right">
      <li class="nav-item">
        <%= link_to "About", "#", class: "nav-link", data: {toggle: "modal", target: "#about-modal"} %>
      </li>
      <li class="nav-item">
        <%= link_to "플리마켓 등록 요청", new_flea_market_path, class: "nav-link"  %>
      </li>
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse " id="exCollapsingNavbar">
      <div class="bg-inverse">

        <ul class="">
          <li class="nav-item">
            <%= link_to "About", "#", class: "nav-link", data: {toggle: "modal", target: "#about-modal"} %>
          </li>
          <li class="nav-item">
            <%= link_to "플리마켓 등록 요청", new_flea_market_path, class: "nav-link"  %>
          </li>
        </ul>


      </div>
    </div>

  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-modals" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">닫기</span>
        </button>
        <h4 class="modal-title" id="adbout-modal-title">About SPREAD HERE</h4>
      </div>
      <div class="modal-body">
        SPREADHERE은 플리마켓 큐레이션 서비스입니다. <br/><br/>
        현재는 리스팅 서비스만 제공 중입니다. <br/><br/>
        제보는 <%= link_to "링크", new_flea_market_path, target: "_blank"%> 를 통해서 가능하며, <br/><br/>
        현재는 인스타그램을 통한 태그 검색으로 등록 하고 있습니다.<br/><br/><br/>
        SPREAD HERE is FleaMarket curation Service<br/><br/>
        Now Only Support Listing <br/><br/>
        And crawled From instagram's tag Searching
      </div>
    </div>
  </div>
</div>
