
  <meta property="og:url"                content="<%= request.original_url %>" />
  <meta property="og:type"               content="article" />
  <% if @flea_market.present? && controller_name == "flea_markets" && params[:action] == "show" %> 
    <meta property="og:title"              content="<%= @flea_market.market_name%>" />
    <meta property="og:description"        content="SPREAD HERE is FleaMarket curation Service" />
    <% if @flea_market.list_image.present? %>
      <meta property="og:image"              content="http://www.spreadhere.com<%= @flea_market.list_image_url %>">
    <% else %>
      <meta property="og:image"              content="http://talkimg.imbc.com/TVianUpload//tvian/image/2015/10/10/IhjX4gdqTjQq635800827987838901.jpg" />
    <% end %>
  <% else %>
    <meta property="og:title"              content="Spread Here" />
    <meta property="og:description"        content="SPREAD HERE is FleaMarket curation Service" />
    <meta property="og:image"              content="http://talkimg.imbc.com/TVianUpload//tvian/image/2015/10/10/IhjX4gdqTjQq635800827987838901.jpg" />
  <% end %>


<div id="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-innner">
    <div class="container">
      <%= link_to "SPREAD HERE", root_path, class: "navbar-brand" %>

      <ul class="nav navbar-nav pull-right  collapse navbar-collapse">
        <li class="nav-item">
          <%= link_to "About", "#", class: "nav-link", data: {toggle: "modal", target: "#about-modal"} %>
        </li>
        <li class="nav-item">
          <%= link_to "플리마켓 등록 요청", new_flea_market_path, class: "nav-link"  %>
        </li>
      </ul>
    </div>

  </div>

</div>




<!-- Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-modals" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="adbout-modal-title">About SPREAD HERE</h4>
      </div>
      <div class="modal-body">
        SPREAD HERE is FleaMarket curation Service<br/><br/>
        Now Only Listing
      </div>
    </div>
  </div>
</div>
