<!DOCTYPE html>
<html>
  <head>
    <title>Fleamarket Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta property="og:url"                content="<%= request.original_url %>" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Spread Here" />
    <meta property="og:description"        content="SPREAD HERE is FleaMarket curation Service" />
    <meta property="og:image"              content="http://talkimg.imbc.com/TVianUpload//tvian/image/2015/10/10/IhjX4gdqTjQq635800827987838901.jpg" />


    <%= stylesheet_link_tag "admin/application", "admin/#{controller_name}" %>
    <%= javascript_include_tag "admin/application", "admin/#{controller_name}", 'data-turbolinks-track' => true %>
    <% javascript_include_tag "admin/bootstrap-datetimepicker", 'data-turbolinks-track' => true %>
    <% stylesheet_link_tag "admin/bootstrap-datetimepicker.min" %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js" ></script>

    <%= csrf_meta_tags %>
  </head>
  <body>
  
     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= render "layouts/admin_header" %>

    <div class="container content-wrap">
      <%= yield %>
    </div>

    <%= render "layouts/admin_footer" %>

  </body>
</html>
