<!DOCTYPE html>
<html>
  <head>
    <title>Fleamarket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta property="og:url"                content="<%= request.original_url %>" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Spread Here" />
    <meta property="og:description"        content="How much does culture influence creative thinking?" />
    <meta property="og:image"              content="http://talkimg.imbc.com/TVianUpload//tvian/image/2015/10/10/IhjX4gdqTjQq635800827987838901.jpg" />


    <%= stylesheet_link_tag "application", controller_name %>
    <%= javascript_include_tag "application", controller_name, 'data-turbolinks-track' => true %>
    <% if Rails.env == "development" %>
      <!--
      <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=<%= DEV_DAUM_KEY %>" async defer></script>
      -->
    <% else %>
      <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=<%= PRODUC_DAUM_KEY %>" async defer></script>
    <% end %>

    <!--
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAP_KEY %>"  async defer></script>
    -->

    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render "layouts/header" %>

    <div class="container content-wrap">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>


    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1705707066372193',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
